<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">

<head>


  {{ block "head" . }}{{ partial "head" . }}{{end}}

  {{ if templates.Exists ( printf "partials/head-%s.html" .Type ) }}
  {{ $partialPath := printf "head-%s" .Type }}
  {{ partial $partialPath . }}
  {{ end }}


</head>

<body>
  
  {{ if not .IsHome }}
  {{ block "header" . }}{{ partial "header" . }}{{end}}
  {{ end }}
 

  <main class="container-fluid{{ if .IsHome }} mas-head{{end}}">
    <div class="row py-5 w-100 h-100" id="main-container">
      {{ block "main" . }}{{end}}
    </div>
    
  </main>

  {{ if not .IsHome }}
  {{ block "footer" . }}{{ partial "footer" . }}{{end}}
  {{ end }}


  
</body>

</html>