<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>My First Parcel App</title>
    <link rel="stylesheet" href="/src/scss/app.scss" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
    crossorigin="anonymous"
  />
  </head>
  <body>


    {{ block "header" . }}{{ partial "header" . }}{{end}} 

    <div class="container py-4">
    
    {{ block "main" . }}{{end}} 
    
  </div>

    

    <script type="module" src="/src/js/app.js"></script>
    
  </body>
</html>