{{ define "main" }}

<div class="container-fluid mas-head text-white">

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link h2" href="https://github.com/techatpark">
        <i class="fab fa-github"></i>
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link h2" href="https://www.linkedin.com/company/techatpark/">
        <i class="fab fa-linkedin"></i>
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link h2" href="/posts">
        <i class="fas fa-blog"></i>
        </a>
    </li>
  </ul>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="brand p-2">
          <img src="/images/logo_full.svg" alt="brandimg" width="150px" height="150px">
          <h3>BUILDING PRO-GRAMMERS !</h3>
          <p class="text-nowrap">We help deserving candidates to find their first software job by
            providing
            free training. <br>Our goal is to make sure the right opportunity meets the right
            talent!</p>
          <a class="button btn-success btn-lg mb-5 mb-lg-2 text-decoration-none" href="/our-method">Learn More</a>
        </div>
      </div>
      <div id="carouselExampleSlidesOnly" class="col-6 carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          {{ range $elem_index, $testimonial := .Site.Data.testimonials}}
          <div class="carousel-item{{ if eq $elem_index "martyn" }} active{{ end }}">
            <figure class="text-end">
              <blockquote class="blockquote">
                <p>{{ $testimonial.text }}</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                {{ $testimonial.name }} , <cite title="Source Title">{{ $testimonial.company }}</cite>
              </figcaption>
            </figure>
          </div>
{{end}}
        </div>
      </div>
      </div>
    </div>
  </div>




</div>

{{ end }}