{{ define "main" }}

<figure>
    <blockquote class="blockquote">
      <p>TECT@PARK !! Your guys are amazing. Today my site is live thanks to your effort.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Martyn Charles, <cite title="Source Title">Aurzart Pvt Ltd</cite>
    </figcaption>
  </figure>


  <div class="container-fluid px-1 px-lg-0">
    <img src="/src/images/logo_full.svg" alt="brandimg" width="160px" height="160px">
      <h1 class="fst-italic mb-2">Building PRO-grammers!</h1>
      <p class="mb-5">Empowering the next generation of tech leaders with innovative methods and values.</p>
     
              <a class="btn btn-primary" href="/our-method">Learn More</a>
          

          

  </div>



{{ end }}