{{ define "main" }}


<main class="pt-3">
    <ul class="list-unstyled">
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
        <li>
            <h3 class="title mb-1"><a class="text-link" href="{{strings.TrimRight "/" .Permalink}}">{{.Title}}</a></h3>
                    <div class="meta mb-1"><span class="date">Published 2 months ago</span><span class="time">10 min read</span><span class="comment"><a class="text-link" href="#">23 comments</a></span></div>
                    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
                    <a class="text-link" href="{{strings.TrimRight "/" .Permalink}}">Read more →</a>
        </li>
    {{ end }}
    </ul>
</main>
{{ end }}


