// Theme Related 
$theme-colors: (
    "primary": #77D236,
    "secondary": #f6f7f9,
    "success": #00a28a,
    "info": #0179a8,
    "warning": #f7c46c,
    "danger": #FF0000,
    "light": #f6f7f9,
    "dark": #704214
);

$body-bg: #f5efe0;
$navbar-dark-color:   #ffffff;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';

.social-icons {
    color: white;
}
.social-icons a {
    margin-left: 15px;
    color: white;
}
.social-icons a:hover {
    color: #ffd700; /* Golden on hover */
}




