// Import Custom Variables

@import './base/typography';

@import './layout/navigation';

@import './themes/theme';

@import './vendors/bootstrap';

.mas-head {
  background: url('../images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
}
