// Import Custom Variables

@import './base/typography';

@import './layout/navigation';

@import './themes/theme';

@import './vendors/bootstrap';

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;

  // Overlay for the body element
  //
  // This overlay will add a colored transparent overlay
  // to the background image

  &:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
  }
}

// Styling for the background image element

img.bg-image {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
  background: url('../images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}


//
// Masthead
// 

.masthead {
  position: relative;
  overflow: hidden;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  // Overlay for the masthead
  &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;

  }

  // Masthead content element
  .masthead-content {
      position: relative;
      max-width: 40rem;
      padding-top: 5rem;
      padding-bottom: 5rem;



      p {
          font-size: 1.2rem;

          strong {
              font-weight: 700;
          }
      }

      // Styling for the signup form input
      .input-group-newsletter {
          input {
              height: auto;
              width: 100%;
              font-size: 1rem;
              padding: 1rem;
          }

          button {
              font-size: 0.85rem;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 1px;
              padding: calc(1rem + 2px);
          }
      }
  }
}

// Styling for the masthead at the large breakpoint and up
@include media-breakpoint-up(lg) {
  .masthead {
      height: 100%;
      width: 75vw;
      min-height: 0;
      padding-bottom: 0;

      // Adds a skew effect to the masthead overlay
      &:before {
          transform: skewX(-9deg);
          transform-origin: top right;
      }

      .masthead-content {
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 2rem;
          padding-right: 9rem;



          p {
              font-size: 1.3rem;
          }

      }
  }
}

// Change the width of the masthead on xl breakpoint and up
@include media-breakpoint-up(xl) {
  .masthead {
      width: 65vw;
  }
}

// 
// Social
// 

// Styling for the social icons
.social-icons {
  position: relative;
  z-index: 2;

  .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      height: 4rem;
      width: 4rem;
      border-radius: 100rem;
  }
}

// Moves the social icons to the center right of the screen on large screen sizes and up
@include media-breakpoint-up(lg) {
  .social-icons {
      position: absolute;
      height: 100%;
      top: 0;
      right: 2.5rem;
      width: auto;
  }
}